GROQ_API_KEY=
DEBUG=True

# Database Configuration
MONGO_URI=
REDIS_URL=

# API Keys
API_KEY_SECRET=secret-key

# Callback URL
# Update this with your actual callback URL
CALLBACK_URL=https://hackathon.guvi.in/api/updateHoneyPotFinalResult
